/**
 Customized In https://worldwillweb.com
 By : Mohsen Shahrivar
 Editor URL : https://github.com/MohsenShahrivar
 */

/*======================================================
 # Estedad Free Font ../.. Init For FA/Persian
 ======================================================*/
@font-face{
    font-family: Estedad;
    font-style: normal;
    font-weight: 100;
    src: url(/ESTEDAD/Estedad-Thin.ttf);
    src: url(/ESTEDAD/Estedad-Thin.ttf) format("truetype"),
    url(/ESTEDAD/Estedad-Thin.woff2) format("woff2")
}
@font-face{
    font-family: Estedad;
    font-style: normal;
    font-weight: 200;
    src: url(/ESTEDAD/Estedad-Light.ttf);
    src: url(/ESTEDAD/Estedad-Light.ttf) format("truetype"),
    url(/ESTEDAD/Estedad-Light.woff2) format("woff2")
}
@font-face{
    font-family: Estedad;
    font-style: normal;
    font-weight: 300;
    src: url(/ESTEDAD/Estedad-ExtraLight.ttf);
    src: url(/ESTEDAD/Estedad-ExtraLight.ttf) format("truetype"),
    url(/ESTEDAD/Estedad-ExtraLight.woff2) format("woff2")
}
@font-face{
    font-family: Estedad;
    font-style: normal;
    font-weight: 400;
    src: url(/ESTEDAD/Estedad-Regular.ttf);
    src: url(/ESTEDAD/Estedad-Regular.ttf) format("truetype"),
    url(/ESTEDAD/Estedad-Regular.woff2) format("woff2")
}
@font-face{
    font-family: Estedad;
    font-style: normal;
    font-weight: 500;
    src: url(/ESTEDAD/Estedad-Medium.ttf);
    src: url(/ESTEDAD/Estedad-Medium.ttf) format("truetype"),
    url(/ESTEDAD/Estedad-Medium.woff2) format("woff2")
}
@font-face{
    font-family: Estedad;
    font-style: normal;
    font-weight: 600;
    src: url(/ESTEDAD/Estedad-SemiBold.ttf);
    src: url(/ESTEDAD/Estedad-SemiBold.ttf) format("truetype"),
    url(/ESTEDAD/Estedad-SemiBold.woff2) format("woff2")
}
@font-face{
    font-family: Estedad;
    font-style: normal;
    font-weight: 700;
    src: url(/ESTEDAD/Estedad-Bold.ttf);
    src: url(/ESTEDAD/Estedad-Bold.ttf) format("truetype"),
    url(/ESTEDAD/Estedad-Bold.woff2) format("woff2")
}
@font-face{
    font-family: Estedad;
    font-style: normal;
    font-weight: 800;
    src: url(/ESTEDAD/Estedad-ExtraBold.ttf);
    src: url(/ESTEDAD/Estedad-ExtraBold.ttf) format("truetype"),
    url(/ESTEDAD/Estedad-ExtraBold.woff2) format("woff2")
}
@font-face{
    font-family: Estedad;
    font-style: normal;
    font-weight: 900;
    src: url(/ESTEDAD/Estedad-Black.ttf);
    src: url(/ESTEDAD/Estedad-Black.ttf) format("truetype"),
    url(/ESTEDAD/Estedad-Black.woff2) format("woff2")
}


/**
 Normalize Admin Bar Font Family
 */
.rtl #wpadminbar *, #wpadminbar * {
    font-family: 'Estedad';
}